<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <title>GadgeHaven</title>
</head>
  <body>
    <h2>GadgeHaven</h2>
    <h3>API version 1</h3>
    <h4>GadgeHaven is an eCommerce API with a lot of the features you would find in a standard eCommerce site</h4>
    <h4>Access The Documentation <a href="https://documenter.getpostman.com/view/23261733/2s84DuMzPS#e2597c6d-df85-4b86-9a03-c0104047b308">Here</a> </h4>
    <h4>Access the github repo <a href="https://github.com/itzgeebee/eCommerce_app">Here</a></h4>
  </body>